*.o
*.o.*
*.lo
*.la
*.Po
*.Plo
*.Tpo
*.deps
*.deps/
/*.deps
.deps/
.libs/
/build/cache/
/build/deps/
dist/
dist-*/
debug*/
release/
/test-*/

/src/config.h
/src/config.h.in~
/config.log
/config.status
/src/stamp-h1
.dirstamp

/autom4te.cache

.vscode/
.idea/
*~
*.swp
*.swo
.clangd
*.cache*

crash-*
*.log

corpus/*

glxgears
sdl3_gears
sdlgpu_gears
*.spv
debug_gpu
*.exe
*.cache
*.pdb
*.dxil

compile_commands.json
*-debug
